<%
  var data = jsonData;
  var path = ''
  if (typeof parentData != "undefined") {
    var path = '../';
  }
%><head>
<meta charset="UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title><%= data.title %></title>
<meta name="description" content="<%= data.description %>">
<meta name="keywords" content="<%= data.keywords %>">
<link type="image/x-icon" rel="shortcut icon" href="<%= path %>img/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<link rel="stylesheet" href="<%= path %>css/style.css">
<link rel="stylesheet" href="<%= path %>css/slick.css">
<link rel="stylesheet" href="<%= path %>css/slick-theme.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
