<%
  var data = jsonData;
  var path = '';
  if (typeof parentData != "undefined") {
    var parent = parentData;
    path = '../';
  }
%>
<div class="breadcrumb">
    <div class="container">
      <ol class="breadcrumb__list">
        <li class="breadcrumb__item noto"><a href="<%= path %>index.html">トップ</a></li>
<% if (typeof parent != "undefined") { %>
        <li class="breadcrumb__item noto"><a href="<%= path %><%= parent.id %>.html"><%= parent.title %></a></li>
<% } %>
        <li class="breadcrumb__item noto"><%= data.title %></li>
      </ol>
    </div>
  </div>
